{% load static %}
<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
        <meta name="description" content>

        <title>Error Save</title>

        <meta name="author" content>
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <!-- 부트스트랩 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>

    <body>
      <center>
        <form>
            <a href="{% url 'index' %}">
                <img src="{% static 'img/logo.jpg' %}" alt="main page" height="75" width="320">
            </a>
            
            "{{user_my.user_name}}"님의 mypage입니다.
            <a href="{% url 'main_logout' %}" class="btn btn-danger">logout</a>
        </form>

        <form  method="POST">  {% csrf_token%}
          <input type="radio" id="all" name="Filter" value="all">
          <label for="all" style="font-size:20px;padding-right: 25px;">All error</label>

          <input type="radio" id="outstanding" name="Filter" value="outstanding">
          <label for="outstanding" style="font-size:20px;padding-right: 25px;">Outstanding error</label>
          
          <input type="radio" id="resolved" name="Filter" value="resolved">
          <label for="resolved" style="font-size:20px;padding-right: 15px;">Resolved error</label>
          
          <button type="submit" class="btn btn-ms btn-info" value="Serch">Serch</button>

          <div class="table-responsive">
              <table class="table table table-hover">
                <thead>
                  <tr>
                    <th>게시자</th>
                    <th>Error 제목</th>
                    <th>Error 메시지</th>
                    <th>해결여부</th>
                    <th>상세 페이지</th>
                    <th>Error 삭제</th>
                  </tr>
                </thead>
                <tbody>
                  {% for error in errors%}
                    {% if error.id in id_list %}
                      {% if error.status == False %}
                        <tr>
                            <td>{{user_my.user_name}}</td>
                            <td>{{error.title}}</td>
                            <td>{{error.message}}</td>
                            <td style="padding-left: 35px;">X</td>
                            <input type="hidden" id="id" name="id" value="{{ error.id }}">
                            <td><a href="{% url 'myDetailError' error.id %}" class="btn btn-success">Modify</a></td>
                            <td><a href="{% url 'deleteError' error.id %}" class="btn btn-danger">Delete</a></td>
                        </tr>
                      {% else %}
                        <tr class='info'>
                          <td>{{user_my.user_name}}</td>
                          <td>{{error.title}}</td>
                          <td>{{error.message}}</td>
                          <td style="padding-left: 35px;">O</td>
                          <input type="hidden" id="id" name="id" value="{{ error.id }}">
                          <td><a href="{% url 'myDetailError' error.id %}" class="btn btn-success">Modify</a></td>
                          <td><a href="{% url 'deleteError' error.id %}" class="btn btn-danger">Delete</a></td>
                        </tr>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      
        <form>
            <a href="{% url 'index'%}" class="btn btn-lg btn-info" style="padding:10px 150px" >Main</a>
            <!-- <button type="button" class="btn btn-lg btn-info" style="padding:10px 150px">Main</button> -->
        </form>
      </center>
    </body>
</html>

